@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

*{
  margin: 0;
  padding: 0;
}

input:focus{
  outline: none;
}

button{
  cursor: pointer;
  outline: none;
}

ul{
  list-style: none;
}


.container{
  width: 100%;
  height: 100vh;
  display: flex;
  background: #E8E8E8;
  font-family: 'Roboto', sans-serif;
}
